<div class="bottom scroll-area"></div>
<div class="top scroll-area"></div>
<div class="left scroll-area"></div>
<div class="right scroll-area"></div>


<div style="width: 200%; overflow-y: auto;">
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 900px;; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 900px;; height: 100px; margin: 20px 0px;"></div>
</div>


