<div class="bottom scroll-area"></div>
<div class="top scroll-area"></div>
<div class="left scroll-area"></div>
<div class="right scroll-area"></div>


<div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--green); width: 100%; height: 100px; margin: 20px 0px;"></div>
    <div style="background-color: var(--yellow); width: 100%; height: 100px; margin: 20px 0px;"></div>
</div>


