.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 20%; */
}

.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 20%; */
}

/* .left{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
}

.right{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
} */

.scroll-area{
    border: dotted 2px darkgrey;
    pointer-events: none;
}

.target-area{
    position: absolute;
    /* height + top assigned dynamically */
    width: 100%; 
    z-index: -1;
}

.check{
    color: var(--green);
    padding-right: 10px;
}

.small{
    height: 10%;
}

.medium{
    height: 20%;
}

.large{
    height: 30%;
}

#successBox{
    opacity: 0;
    /* visibility: hidden; */
    padding: 10px 15px;
    border-radius: 15px;
    color: #fff;
    background: var(--green);
    width: fit-content;
}

@keyframes slide-in {
    from {
      transform: translateX(-200px);
    }
    to {
      transform: translateX(0);
    }
  }