<div *ngIf="!secondScreen">
    <img id="tag0" class="april-tag" src="assets/tags36h11/tag36h11_00000.png" />
    <img id="tag1" class="april-tag" src="assets/tags36h11/tag36h11_00001.png" />
    <img id="tag2" class="april-tag" src="assets/tags36h11/tag36h11_00002.png" />
    <img id="tag3" class="april-tag" src="assets/tags36h11/tag36h11_00003.png" />
</div>

<div *ngIf="secondScreen">
    <img id="tag0" class="april-tag" src="../assets/tags36h11/tag36h11_00004.png" />
    <img id="tag1" class="april-tag" src="../assets/tags36h11/tag36h11_00005.png" />
    <img id="tag2" class="april-tag" src="../assets/tags36h11/tag36h11_00006.png" />
    <img id="tag3" class="april-tag" src="../assets/tags36h11/tag36h11_00007.png" />    
</div>
