<div class="popup-background"></div>
<div *ngIf="!calibrationDone">
    <div class="Popup">
        <div class="popup-header">
            Re-Calibration necessary!
        </div>
        <div style="margin-bottom: 45px;">
            <div style="margin-bottom: 10px;">
                Please click the button below:
            </div>
            <button (click)="socketService.startCalibration(); calibrationDone=true;">Start Re-Calibration</button>
        </div>
    </div>
</div>


<div *ngIf="calibrationDone">
    <div class="Popup">
        <div class="popup-header">
            Re-calibration was successful!
        </div>
        <div style="margin-bottom: 10px;">
            Please click the button below to start the experiment:
        </div>
        <button (click)="this.calibrationDoneEvent.emit(true);">Start Experiment</button>
    
        <div style="margin-top: 20px; font-size: 12px;">
            If the calibration did not start automatically or you want to re-calibrate click here:
            <button style="margin-top: 45px;" class="linkstylebutton" (click)="socketService.startCalibration();">start calibration manually</button>
        </div>
    </div>
</div>




