.Flexbox {
    display: flex;
    justify-content: space-between;
}

.calibrationPoints{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.CalibrationPt {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: var(--red);
    border-color: var(--red);
    border-style: solid;
}

.CalibrationPt:hover {
    cursor: pointer;
}

.TestPt{
    background-color: var(--blue);
    width: 400px;
    height: 400px;
}

.nextButton:disabled{
    pointer-events: auto;
}

.linkstylebutton{
    background-color: transparent;
    color: black;
    padding: 0px;
    text-decoration: underline;
    font-size: inherit;
}