<!-- explanation popup -->
<div *ngIf="showPopup" class="FlexboxCentered">
    <div class="popup-background">
    </div>
    <div class="Popup" style="width: 60%;">
        <div class="popup-header">
            <button class="Popup-close" (click)="closePopup()">×</button>
        </div>
        <div *ngIf="explanationNr==0">
            Before you start, please click through this short guide and read it carefully. 
            If you want to review the instructions later, click on the question mark icon ( <mat-icon style="vertical-align: middle;">help_outline</mat-icon> ).
            <div style="margin-top: 15px;">Now click on "Next".</div>
        </div>
        <div *ngIf="explanationNr==1">
            In the upper right corner you can see the recording of your webcam. 
            <div style="display: flex; margin: 25px 0px;">
                <div style="text-align: left; margin-top: 15px;">
                    Please make sure ... 
                    <ul>
                        <li>that your face is very well illuminated.</li>
                        <li>that your face is always inside the green square. Ideally, your face should fill the square completely.</li>
                        <li>that the square always remains green. A red square indicates that your face position is wrong.</li>
                    </ul>
                </div>
                <div>
                    <img src="/assets/laptop_window_calibration.png" style="border-radius: 15px; width: 200px;" />
                </div>
            </div>
            Find a comfortable position for the calibration that meets these criteria and maintain this position.
            Keep your head still and try not to move it.
            <div style="margin-top: 15px;">Now click on "Next".</div>
        </div>
        <div *ngIf="explanationNr==2">
            The red circle shows where the system assumes your eye-gaze. To ensure that the prediction is as accurate as possible, the system must first be calibrated.
            <div style="margin-top: 15px;">Now click on "Next".</div>
        </div>
        <div *ngIf="explanationNr==3">
            For the calibration, click each red point {{clickGoal}} times until all points are completely green.
            While clicking, fixate the points with your eyes.
            <div style="margin-top: 15px;">To start the calibration, close this window with "OK".</div>
        </div>
        <div style="margin-top: 25px;">
            <button *ngIf="explanationNr!=3" style="display: flex; align-items: center; float: right; " type="button" (click)="nextExplanation();"> 
                Next <mat-icon style="margin-left: 5px;" fontIcon="arrow_forward"></mat-icon>
            </button>
            <button *ngIf="explanationNr==3" style="display: flex; align-items: center; float: right; " type="button" (click)="nextExplanation();"> 
                OK <mat-icon style="margin-left: 5px;" fontIcon="done"></mat-icon>
            </button>
            <button *ngIf="explanationNr!=0" style="display: flex; align-items: center; float: left;" type="button" (click)="previousExplanation();">
                <mat-icon style="margin-right: 5px;" fontIcon="arrow_back"></mat-icon> Back
            </button>
        </div>
    </div>
</div>

<!-- calibration points -->
<div class="calibrationPoints">
    <div class="Flexbox">
        <input type="button" class="CalibrationPt" id="CPt0" (click)="changeButtonColor(0)" >
        <input type="button" class="CalibrationPt" id="CPt1" (click)="changeButtonColor(1)" >
        <input type="button" class="CalibrationPt" id="CPt2" (click)="changeButtonColor(2)" >
    </div>
    <div class="Flexbox">
        <input type="button" class="CalibrationPt" id="CPt3" (click)="changeButtonColor(3)" >
        <input type="button" class="CalibrationPt" id="CPt4" (click)="changeButtonColor(4)" >
        <input type="button" class="CalibrationPt" id="CPt5" (click)="changeButtonColor(5)" >
    </div>
    <div class="Flexbox">
        <input type="button" class="CalibrationPt" id="CPt6" (click)="changeButtonColor(6)" >
        <input type="button" class="CalibrationPt" id="CPt7" (click)="changeButtonColor(7)" >
        <input type="button" class="CalibrationPt" id="CPt8" (click)="changeButtonColor(8)" >
    </div>
</div>