<app-header></app-header>
<app-surface-tags></app-surface-tags>

<!-- header -->
<div *ngIf="!randomizationService.showFinalPageComponent" class="button-header-container">
    <!-- progress + skip -->
    <div *ngIf="!showRecalibration" 
        style="background-color: white; border-radius: 15px; padding: 10px 15px; 
        display: flex; justify-content: space-between; align-items:center; width: 300px;">
        <span style="color: var(--green); font-size: 40px;" *ngFor="let rep of randomizationService.sizeOrder; index as i">
            <span *ngIf="i + 1 <= randomizationService.repsDone">●</span>
            <span *ngIf="i + 1 > randomizationService.repsDone">○</span>
        </span>
        <div style="font-size: 12px; line-height: 15px; padding-left: 15px;" *ngIf="selectedInputType == InputType.MIX2">To skip press esc.</div>
        <button [disabled]="showTestMode" *ngIf="selectedInputType != InputType.MIX2" style="margin: 0px 5px;" (click)="baseTaskComponent.addSuccess(true); this.blur($event)">Skip</button>
    </div>

    <span class="white-box" *ngIf="!showRecalibration" >
        <div>
            <span style="font-weight: bold;">{{selectedTask$ | async}}</span>
            with 
            <span style="font-weight: bold;">{{selectedInputType$ | async}}</span>
        </div>
        <button *ngIf="!showTestMode && selectedInputType != InputType.MIX2" class="button-header" mat-icon-button style="margin: 10px 10px; display:block;" type="button" (click)="showTaskPopup = true; this.blur($event);">
            <mat-icon>question_mark</mat-icon>
        </button>
    </span>
</div>
        

<!-- content -->
<div id="content" class="content" >

    <!-- initial explanation contains first calibration (for test mode) -->
    <app-initial-explanation *ngIf="showInitialExplanation" (closeMe)="setShowInitialExplanation(false);"></app-initial-explanation>

    <!-- re-calibration for mix2 -->
    <app-calibration *ngIf="showRecalibration && !randomizationService.everythingDone"></app-calibration>

    <app-test-input-methods (endTestEvent)="showTestMode=false;" *ngIf="!showRecalibration && showTestMode && !(randomizationService.everythingDone || randomizationService.showFinalPageComponent)"></app-test-input-methods>

    <app-final-page *ngIf="randomizationService.everythingDone || randomizationService.showFinalPageComponent"></app-final-page>
    
    <img id="arrow" class="arrow" src="assets/arrow.png" />

    <div style="height: 100%;" *ngIf="!showInitialExplanation && !showTestMode && !showRecalibration && !(randomizationService.everythingDone || randomizationService.showFinalPageComponent)"> 
        <!-- click task -->
        <div style="height: 100%;" id="experimentSandbox">            
            <app-click *ngIf="(selectedTask$ | async) == TaskType.SELECT"></app-click>
        </div>
        <!-- explanation pop up -->
        <div *ngIf="showTaskPopup" style="display:flex;justify-content:center;">
            <div class="popup-background"></div>
                <div class="Popup">
                    <div class="popup-header">
                        <mat-icon style="display: block; 
                        color: var(--blue);
                        color: var(--blue);
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 40px;
                        margin-bottom: 20px;
                        width: 40px;
                        height: 40px;">change_circle</mat-icon>
                        Your Input Method now:
                        <span style="font-weight: bold; color: var(--apricot);">{{selectedInputType}}</span>
                    </div>
                    <div style="margin-bottom: 45px;">
                        {{randomizationService.inputMethodInstructions}}
                    </div>
                    <div style="margin-bottom: 20px;">
                        <strong style="font-size: 25px; vertical-align: top;">> </strong>{{randomizationService.taskInstructions}}
                    </div>
                    <button (click)="showTaskPopup=false; startExperiment(); this.blur($event)">Start task</button>
                    <div *ngIf="selectedInputType != InputType.MIX2" style="width: 200px; font-size: 12px; line-height:15px; margin: auto; margin-top: 15px;">If you cannot complete a task, click the skip button at the top.</div>
                    <div *ngIf="selectedInputType == InputType.MIX2" style="width: 200px; font-size: 12px; line-height:15px; margin: auto; margin-top: 15px;">If you cannot complete a task, press esc and then click the skip button.</div>           
                </div>
        </div>
    </div>

</div>
<div class="footer">
    Contact > Lina Klass, lina.klass@uni-weimar.de
</div>