.content{
    margin: 45px;
    background-color: white;
    min-height: 500px;
    border-radius: 15px;
    padding: 30px;
}

.mat-icon-button{
    line-height: 0px;
}

.loading{
    max-width: 300px;
    color: #fff;
    border-radius: 15px; 
    padding: 50px; 
    background-color: var(--blue); 
    text-align: center;
}

.mat-spinner{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
}

.dropdown-label{
    font-size: 15px;
    font-weight: bold;
}

#experimentSandbox{
    z-index: 0;
}

.button-header{
    color: black;
    background-color: transparent;
    border: black 2px solid;
}

.button-header:hover{
    border: black 3px solid;
}

.button-header-container{
    position: absolute; 
    top: 80px; 
    left: 200px;
    right: auto; 
    padding: 15px; 
    width: 270px;
}

.instructions{
    position: absolute; 
    top: 10px; 
    left: auto;
    right: 200px; 
    padding: 10px 20px; 
    height: 50px;
    width: 270px;
}

.angle{
    position: absolute;
    top: 20px;
    left: auto;
    right: 490px;
    font-size: 60px;
    padding-right: 10px;
}

/* .dropdowns{
    position: absolute; 
    top: 10px; 
    left: auto;
    right: 250px; 
} */