
.content{
    margin: 45px;
    background-color: white;
    min-height: 500px;
    border-radius: 15px;
    padding: 10px;
}
.Flexbox {
    display: flex;
    justify-content: space-between;
    margin: 110px 10px 10px 10px;
}

.CalibrationPt {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: var(--red);
    border-color: var(--red);
    border-style: solid;
}

.CalibrationPt:hover {
    cursor: pointer;
}

.TestPt{
    background-color: var(--blue);
    width: 400px;
    height: 400px;
}

.mat-icon-button{
    line-height: 0px;
}

.loading{
    max-width: 300px;
    color: #fff;
    border-radius: 15px; 
    padding: 50px; 
    background-color: var(--blue); 
    text-align: center;
}

.mat-spinner{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
}

.calibrationPoints{
    margin-top: -100px;
}

.dropdown-label{
    font-size: 15px;
    font-weight: bold;
}

#experimentSandbox{
    margin-top: 100px;
    height: 600px;
    /* padding: 10px; */
    /* border: 1px solid grey;
    border-radius: 15px; */
    z-index: 0;
}

.instructions{
    width: 50%;
}

.button-header{
    color: black;
    background-color: transparent;
    border: black 1px solid;
}

.button-header:hover{
    border: black 2px solid;
}

.button-header-container{
    position: absolute; 
    top: 5px; 
    left: auto;
    right: 150px; 
    padding: 15px; 
    width: 270px;
}
