<h1>Master Thesis: Eye Input for Visualization</h1>
<div style="margin-left:auto; width:100px; height:100px; margin-top: -50px; margin-bottom: 50px; margin-right: 20px;">
    <button id="startButton" type="button" (click)="startWebgazer()">Start</button>
    <button type="button" (click)="pauseWebgazer();">Pause / Resume</button>
    <div>x: <span id="x"></span></div>
    <div>y: <span id="y"></span></div>
    <div>time: <span id="time"></span></div>
</div>

<div *ngIf="!calibrationDone">
    <div *ngIf="showPopup" style="border: 2px solid black; border-radius: 15px; padding: 20px;">
        <div style="text-align:right;">
            <button (click)="showPopup=false;">x</button>
        </div>
        Click start. Then, please click on every dot while looking at it until it turns green.
        <button type="button" (click)="calibrationDone = true;">Skip callibration</button>
    </div>
    
<div class="Flexbox">
    <input type="button" class="CalibrationPt" id="CPt0" (click)="changeButtonColor(0)" >
    <input type="button" class="CalibrationPt" id="CPt1" (click)="changeButtonColor(1)" >
    <input type="button" class="CalibrationPt" id="CPt2" (click)="changeButtonColor(2)" >
    <input type="button" class="CalibrationPt" id="CPt3" (click)="changeButtonColor(3)" >
    <input type="button" class="CalibrationPt" id="CPt4" (click)="changeButtonColor(4)" >
    <input type="button" class="CalibrationPt" id="CPt5" (click)="changeButtonColor(5)" >
</div>
<div class="Flexbox">
    <input type="button" class="CalibrationPt" id="CPt6" (click)="changeButtonColor(6)" >
    <input type="button" class="CalibrationPt" id="CPt7" (click)="changeButtonColor(7)" >
    <input type="button" class="CalibrationPt" id="CPt8" (click)="changeButtonColor(8)" >
    <input type="button" class="CalibrationPt" id="CPt9" (click)="changeButtonColor(9)" >
    <input type="button" class="CalibrationPt" id="CPt10" (click)="changeButtonColor(10)" >
    <input type="button" class="CalibrationPt" id="CPt11" (click)="changeButtonColor(11)" >
</div>
<div class="Flexbox">
    <input type="button" class="CalibrationPt" id="CPt12" (click)="changeButtonColor(12)" >
    <input type="button" class="CalibrationPt" id="CPt13" (click)="changeButtonColor(13)" >
    <input type="button" class="CalibrationPt" id="CPt14" (click)="changeButtonColor(14)" >
    <input type="button" class="CalibrationPt" id="CPt15" (click)="changeButtonColor(15)" >
    <input type="button" class="CalibrationPt" id="CPt16" (click)="changeButtonColor(16)" >
    <input type="button" class="CalibrationPt" id="CPt17" (click)="changeButtonColor(17)" >
</div>
</div>


<div *ngIf="calibrationDone">
    <p style="border: 2px solid black; border-radius: 15px; padding: 20px;">Calibration was successful. Current position is {{(currentEyePos$ | async)}}.</p>
<div class="Flexbox">
    <div class="TestPt" id="TestPt1"></div>
    <div class="TestPt" id="TestPt2"></div>
    <div class="TestPt" id="TestPt3"></div>
    <div class="TestPt" id="TestPt4"></div>
</div>
</div>