<app-header></app-header>

<div *ngIf="!webgazerService.webgazerLoaded" class="FlexboxCentered"> 
    <div class="popup-full-background"></div>
    <div class="Popup">            
        <mat-spinner [diameter]="30" ></mat-spinner>
        <div>
            Please wait. Everything is being prepared...
        </div>            
        <div style="padding-top: 30px; font-weight: bold;">
            If your browser asks for permission to use your camera, please click "Allow".
        </div>        
    </div>
</div>

<div *ngIf="webgazerService.webgazerLoaded && !userIDSubmitted" class="FlexboxCentered">
    <div class="popup-full-background"></div>
    <div class="Popup">                     
        <div style="padding-top: 30px; font-weight: bold;">
            <label for="userID">Please paste your copied participant ID here:</label>
        </div> 

        <input class="form-control"
            id="userID"  type="text"
            required minlength="6" maxlength="6"
            [(ngModel)]="enteredUserID" name="userID"
            #userID="ngModel">
        <div [hidden]="userID.valid || userID.pristine"
            class="alert">Please enter a valid participant ID.</div>
        <div style="margin-top: 10px;">
            <button type="submit" [disabled]="!userID.valid" (click)="userIDSubmit(); this.blur($event)">Submit</button>
        </div>
    </div>
</div>

 <!-- Drop Down Task -->
 <div class="dropdowns" style="margin-left: 20px;" *ngIf="calibrationDone">
    <div>
        <span class="dropdown-label">Task: </span>
        <select [(ngModel)]="randomizationService.selectedTask" (change)="randomizationService.selectTask()"> 
            <option *ngFor="let item of TaskType | keyvalue">{{item.value}}</option>
        </select>
    </div>
    
    <!-- Drop Down InputType -->
    <div>
        <span class="dropdown-label">Input variant: </span>
        <select [(ngModel)]="randomizationService.selectedInputType" (change)="randomizationService.selectInputType()" > 
            <option *ngFor="let item of InputType | keyvalue">{{item.value}}</option>
        </select>
    </div>
    <button (click)="confirmSelection(); this.blur($event)">Select</button>
</div>

<!-- <button (click)="taskEvaluationService.startTask()">Start</button>
<button (click)="taskEvaluationService.endTask()">End</button>
<button (click)="taskEvaluationService.exportResults()">Export</button> -->

<div *ngIf="!randomizationService.showQuestionnaireInfo" class="button-header-container">

    <div *ngIf="calibrationDone" 
        style="background-color: white; border-radius: 15px; padding: 10px 15px; 
        display: flex; justify-content: space-between; align-items:center; width: 300px;">
        <span style="color: var(--green); font-size: 40px;" *ngFor="let rep of randomizationService.sizeOrder; index as i">
            <span *ngIf="i + 1 <= randomizationService.repsDone">●</span>
            <span *ngIf="i + 1 > randomizationService.repsDone">○</span>
        </span>
        <div style="font-size: 12px;" *ngIf="this.randomizationService.selectedInputType == InputType.MIX2">To skip press "escape".</div>
        <button *ngIf="this.randomizationService.selectedInputType != InputType.MIX2" style="margin: 0px 5px;" (click)="baseTaskComponent.addSuccess(true); this.blur($event)">I can't do it - skip this one</button>
    </div>
    <button class="button-header" style="margin: 0px 10px;" type="button" *ngIf="!calibrationDone"
        (click)="calibrationDone = true; this.blur($event)">Skip callibration
    </button>
    <!-- <span *ngIf="!webgazerService.paused">
        <button  class="button-header" mat-icon-button style="margin: 0px 0px;" type="button" (click)="webgazerService.togglePauseWebgazer(); this.blur($event)">
            <mat-icon>pause</mat-icon>
        </button>
    </span>
    <span *ngIf="webgazerService.paused">
        <button class="button-header" mat-icon-button style="margin: 0px 10px;" type="button" (click)="webgazerService.togglePauseWebgazer(); this.blur($event)">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </span> -->
    <button *ngIf="!calibrationDone" class="button-header" mat-icon-button style="margin: 0px 10px;" type="button" (click)="showCalibExplanation(); this.blur($event);">
        <mat-icon>question_mark</mat-icon>
    </button>
    <span style="background-color: white; padding: 10px 15px; border-radius: 15px; height: 80px; text-align: center;" *ngIf="calibrationDone" >
        <div>
            <span style="font-weight: bold;">{{randomizationService.selectedTask$ | async}}</span>
            via 
            <span style="font-weight: bold;">{{randomizationService.selectedInputType$ | async}}</span>
        </div>
        <button style="display:block;" class="button-header" mat-icon-button style="margin: 10px 10px;" type="button" (click)="showTaskPopup = true; this.blur($event);">
            <mat-icon>question_mark</mat-icon>
        </button>
    </span>
</div>
        

<!-- content -->
<div id="content" class="content" *ngIf="webgazerService.webgazerLoaded && userIDSubmitted">

    <!-- <span class="angle">❯</span>
    <div class="instructions">{{randomizationService.instructions}}</div> -->

    <app-calibration *ngIf="!calibrationDone && !randomizationService.everythingDone" 
        (calibrationDoneEvent)="setCalibrationDone($event)">
    </app-calibration>

    <app-final-page (calibrationDoneEvent)="setCalibrationDone($event)" *ngIf="randomizationService.everythingDone || randomizationService.showQuestionnaireInfo"></app-final-page>
    
    <div style="height: 100%;" *ngIf="calibrationDone && !(randomizationService.everythingDone || randomizationService.showQuestionnaireInfo)">
         <div style="height: 100%;" id="experimentSandbox">
            <app-click *ngIf="(randomizationService.selectedTask$ | async) == TaskType.SELECT"></app-click>
            <app-hover *ngIf="(randomizationService.selectedTask$ | async) == TaskType.HOVER"></app-hover>                
            <app-scroll *ngIf="(randomizationService.selectedTask$ | async) == TaskType.SCROLL"></app-scroll>
            <img id="arrow" class="arrow" src="/assets/arrow.png" />
        </div>

        <div *ngIf="showTaskPopup" style="display:flex;justify-content:center;">
            <div class="popup-background"></div>
            <!-- if new input method -->
                <div *ngIf="randomizationService.tasksDone == 1 && showInputMethodPopup" class="Popup">
                    <div class="popup-header">
                        Your Input Method now:
                        <span style="font-weight: bold; color: #f7c7b9;">{{randomizationService.selectedInputType}}</span>
                    </div>
                    <div style="margin-bottom: 25px;">
                        {{randomizationService.inputMethodInstructions}}
                    </div>
                    <button (click)="showInputMethodPopup=false; this.blur($event)">OK</button>
                </div>
            <!-- new task -->
                <div class="Popup" *ngIf="randomizationService.tasksDone > 1 || !showInputMethodPopup">
                    <div class="popup-header">
                        Your Task now: 
                        <span style="text-align: center; font-weight: bold; color: #f7c7b9;">{{randomizationService.selectedTask}}</span>
                    </div>
                    <div style="margin-bottom: 25px;">
                        {{randomizationService.taskInstructions}}
                    </div>
                    <div style="border: 1px solid white; border-radius: 15px; padding: 5px; margin: 25px 0px;">
                        <div style="font-weight: bold;">Reminder: The current input method is 
                            <span style="text-align: center; color: #f7c7b9;">{{randomizationService.selectedInputType}}.</span>
                        </div>
                        <div>
                            {{randomizationService.inputMethodInstructions}}
                        </div>
                    </div>
                    <button (click)="showTaskPopup=false; showInputMethodPopup = true; confirmSelection(); this.blur($event)">Got it!</button>
                </div>
        </div>
    </div>
</div>