<div class="container">
    <div id="hover-task" style="z-index: 3;" [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[0]]" class="hoverArea">Hover over me!
        <span class="tooltip" id="success">✓ This is a tooltip that explains the element.</span>
    </div>
    <div [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[1]]" class="hoverArea">
        <span class="tooltip">This is another tooltip.</span>
    </div>
    <div [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[2]]" class="hoverArea">
        <span class="tooltip">This is another tooltip.</span>
    </div>
    <div [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[3]]" class="hoverArea">
        <span class="tooltip">This is another tooltip.</span>
    </div>
    <div *ngIf="success" class="centeredOverlay">
        <div style="margin-bottom: 20px;">Move your eye gaze and your mouse here:</div>
        <div style="font-size: 80px; color: var(--blue); width: 100%;">⦿</div>
    </div>
</div>


<app-popup-pointer-lock-stop *ngIf="pointerLockedStopped()" (addSuccess)="addSuccess(true)" (startMix2)="activateSelectedInputType()"></app-popup-pointer-lock-stop>




