<div>
    <div id="recthover" class="clickArea medium">Hover over me!</div>
    <!-- <div id="HoverPt0" class="clickArea small">Hover over me!</div>
    <div id="HoverPt1" class="clickArea medium">Hover over me!</div>
    <div id="HoverPt2" class="clickArea large">Hover over me!</div> -->
</div>

<div *ngIf="pointerLockedStopped()" style="display:flex;justify-content:center;">
    <div class="popup-background">
    </div> 
    <div class="Popup">
        <div class="popup-header">
            <span>Pointer Lock was stopped</span>
            <!-- <button class="Popup-close" (click)="showPopup=false;">×</button> -->
        </div>
        To resume with the task, please enable it again.
        <button style="margin-top: 20px;" (click)="startMix2Input()">Enable Pointer Lock</button>
    </div>
</div>



<!-- mehrere Durchgänge, zufälliger (oder einfach aus 6 positionen zufällig?) Ort, 3 verschiedene Größen -->
<!-- Text on hover -->
<!-- Hover muss bestimmte Zeit gehalten werden... -->

