<div *ngIf="showPopup"
    style="display:flex;justify-content:center;">
    <div class="popup-background">
    </div> 
    <div class="Popup">
        <div class="popup-header" style="padding-bottom: 20px;">
            <button class="Popup-close" (click)="enablePointerLock()">×</button>
            <span>Pointer Lock was stopped</span>
        </div>
        <div>To resume with the task, please enable it again by closing this window.</div>
        <!-- <button style="margin-top: 20px;" (click)="enablePointerLock()">Enable Pointer Lock</button> -->
        <div style="padding-top: 50px;">If you struggle to complete this task you can skip it here:</div>
        <button style="margin-top: 20px; background-color: transparent; border: solid 1px var(--apricot); color:var(--apricot)" (click)="skipRep();">I can't do it - skip this one</button>
        <div style="font-size: 12px; padding-top: 50px;">
            <div style="font-weight: bold;">What am I supposed to do during this task?</div>
            <div>{{randomizationService.taskInstructions}}</div>
            <div><strong>The current input method works like this:</strong> {{randomizationService.inputMethodInstructions}}</div>
        </div>
    </div>
</div>
