<div *ngIf="pointerLockedStopped() && showPopup" 
    (mouseover)="eyeInputService.stopMix2Input(this.sandbox, this.arrow)" 
    style="display:flex;justify-content:center;">
    <div class="popup-background">
    </div> 
    <div class="Popup">
        <div class="popup-header">
            <button class="Popup-close" (click)="closeAndStopMix2()">×</button>
            <span>Pointer Lock was stopped</span>
        </div>
        <div>To resume with the task, please enable it again.</div>
        <button style="margin-top: 20px;" (click)="enablePointerLock()">Enable Pointer Lock</button>
        <div style="padding-top: 50px;">If you struggle to complete this task you can skip it here:</div>
        <button style="margin-top: 20px; background-color: transparent; border: solid 1px white;" (click)="skipTask();">I can't do it - skip this one</button>
    </div>
</div>
