:root {
   /* --blue:#85a7b8;
    --green: #98B63E;
    --apricot: #d7816a;
    --red: #bd4f6c;
    --red-background: #bd4f6c84;
    --green-background: #a0bd4184;
    */

    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    line-height: 150%;
}

@font-face {
    font-family: "Ribes-Black";
    src: local("Ribes-Black"), url(./assets/fonts/Ribes-Black.woff) format("woff"),
                                url(./assets/fonts/Ribes-Black.woff2) format("woff2");
}

body{
    margin: 0px;
    background-color: var(--apricot);
}

h1{
    color: var(--blue);
}

button{
    background-color: var(--apricot);
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    margin: 2px;
}

button:hover{
    cursor: pointer;
}

button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.linkstylebutton{
    background-color: transparent;
    color: black;
    padding: 0px;
    text-decoration: underline;
    font-size: inherit;
}

.arrow {
    position: fixed;
    top: -10px;
    left: -10px;
    transform: translate(50vw, 50vh); 
    width: 20px;
    visibility: hidden; 
    pointer-events: none;
    z-index: 10;
    will-change: transform;
    /* -webkit-filter: drop-shadow(2px 4px 6px black);
    filter: drop-shadow(2px 4px 6px black); */
}

.redShaddow{
    -webkit-filter: drop-shadow(2px 4px 6px red); /* red to visualize the mix with eye input (where dot is also red) */
    filter: drop-shadow(2px 4px 6px red);
}

.smoothTransition{
    --transition-duration: 0s;
    transition: transform var(--transition-duration) ease;
  }

.Popup{
    position: absolute;
    top: 10%;
    color: black;
    border-radius: 15px; 
    padding: 50px; 
    background-color: white; 
    z-index: 3;
    text-align: center;
    width: 50%;
}

.Popup-blue{
    position: absolute;
    top: 10%;
    color: white;
    border-radius: 15px; 
    padding: 50px; 
    background-color: var(--blue); 
    z-index: 3;
    text-align: center;
    width: 50%;
}

.Popup-close{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    color: var(--apricot);
}

.popup-header {
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    line-height: 30px;
  }

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
} 

.popup-full-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
} 

.FlexboxCentered{
    display:flex;
    justify-content:center;
    align-items:center;
}

/**************************** New UI **************************/
/***General***/
:root{
    --AccentColor:#c54828 !important;
    --White: #fff !important;
    --Black: #000 !important;
    --LightGray: #e4e4e4 !important;
    --Gray: #ccc !important;
    --MidGray: #7d7d7d !important;
    --DarkGray: #4a4a4a !important;

    --Error: rgba(255, 0, 0, 0.2) !important;
    --Success:  rgba(0, 255, 47, 0.2) !important;
    --Warning: rgba(255, 238, 0, 0.2) !important;

    --Mouse: #585c74;
    --Magic: #392f86;
    --Ninja: #2c736b;
    --Eye:#8f7549;
}
.footer, .title-container, .button-header-container > div, .button-header-container{
visibility: hidden;
}

body{
    background-color: var(--White) !important;

}
mat-card{
    background-color: var(--White) !important;
    border: 1px solid var(--MidGray) !important;
    color: var(--MidGray) !important;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

}
mat-card:hover{
    background-color: var(--LightGray ) !important;
    border-color: var(--Black) !important;
    color: var(--Black) !important;
}


.clickArea {
  transition: background-color 0.4s ease-in-out !important;
}

.clickArea.success {
  background-color: #d4edda !important; 
}

.clickArea.error {
  background-color: #f8d7da !important; 
}


/***Pop Ups***/
.Popup{
    border-radius: 3px !important;
}
.popup-header .mat-icon {
    display: none;
}
div#Second_Screen_Window > button {
    background: black;
}

div#SkipGuide, div#MemorizeGuide {
    z-index: 999;
    position: relative;
    text-align: center;
    padding: 20px 0;
    color: var(--Gray);
}
/*** Buttons ***/

button {
    background-color: var(--AccentColor);
    border-radius: 3px !important;
    padding: 20px 30px;
    font-weight: bold;
}    
#InputTypeIsMouse{
    background-color: var(--Mouse);
}
#InputTypeIsMagic{
    background-color: var(--Magic);
}
#InputTypeIsNinja{
    background-color: var(--Ninja);
}
#InputTypeIsEye{
    background-color: var(--Eye);
}
/*** Second Screen***/
div#Second_Screen_Window_Success_Msg{
    text-align: center;
}