:root {
   /* --blue:#85a7b8;
    --green: #98B63E;
    --apricot: #d7816a;
    --red: #bd4f6c;
    --red-background: #bd4f6c84;
    --green-background: #a0bd4184;
    */

    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    line-height: 150%;
}

@font-face {
    font-family: "Ribes-Black";
    src: local("Ribes-Black"), url(./assets/fonts/Ribes-Black.woff) format("woff"),
                                url(./assets/fonts/Ribes-Black.woff2) format("woff2");
}

body{
    margin: 0px;
    background-color: var(--apricot);
}

h1{
    color: var(--blue);
}

button{
    background-color: var(--apricot);
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    margin: 2px;
}

button:hover{
    cursor: pointer;
}

button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.linkstylebutton{
    background-color: transparent;
    color: black;
    padding: 0px;
    text-decoration: underline;
    font-size: inherit;
}

.arrow {
    position: fixed;
    top: -10px;
    left: -10px;
    transform: translate(50vw, 50vh); 
    width: 20px;
    visibility: hidden; 
    pointer-events: none;
    z-index: 10;
    will-change: transform;
    /* -webkit-filter: drop-shadow(2px 4px 6px black);
    filter: drop-shadow(2px 4px 6px black); */
}

.redShaddow{
    -webkit-filter: drop-shadow(2px 4px 6px red); /* red to visualize the mix with eye input (where dot is also red) */
    filter: drop-shadow(2px 4px 6px red);
}

.smoothTransition{
    --transition-duration: 0s;
    transition: transform var(--transition-duration) ease;
  }

.Popup{
    position: absolute;
    top: 10%;
    color: black;
    border-radius: 15px; 
    padding: 50px; 
    background-color: white; 
    z-index: 3;
    text-align: center;
    width: 50%;
}

.Popup-blue{
    position: absolute;
    top: 10%;
    color: white;
    border-radius: 15px; 
    padding: 50px; 
    background-color: var(--blue); 
    z-index: 3;
    text-align: center;
    width: 50%;
}

.Popup-close{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    color: var(--apricot);
}

.popup-header {
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    line-height: 30px;
  }

.popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
} 

.popup-full-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
} 

.FlexboxCentered{
    display:flex;
    justify-content:center;
    align-items:center;
}

/**************************** New UI **************************/
/***General***/
:root{
    --White: #fff !important;
    --Red: #d24c4c !important;
    --Teal: #2c736b !important;
    --Mustard: #c89f56 !important;
    --Black: #000 !important;
    --LightGrey: #e4e4e4 !important;
    --MidGrey: #7d7d7d !important;
    --DarkGrey: #4a4a4a !important;
}
.footer, .title-container, .button-header-container > div, .button-header-container{
visibility: hidden;
}

body{
    background-color: var(--White) !important;

}
mat-card{
    background-color: var(--White);
    border: 1px solid var(--MidGrey);
    color: black;
}
mat-card:hover{
border-color: var(--DarkGrey);
}
button {
    background-color: var(--Red);
}

/* -----------to be fixed---------- fonticon="done"

/***Pop Ups***/

.popup-header .mat-icon {
    display: none;
}
div#Second_Screen_Window > button {
    background: black;
}
/* -----------to be fixed---------- div#Second_Screen_Window > button {
    blinking
}
*/
div#Skip_Block_Hint{
background: red;
    text-align: center;
    margin: 0 auto;
    height: 100px;
    position: relative;
    z-index: 11111;
}
    
/*** Second Screen***/
div#Second_Screen_Window_Success_Msg{
    text-align: center;
}