:root {
    --blue:#85a7b8;
    --green: #c5d886;
    --yellow: #f0cf65;
    --apricot: #d7816a;
    --red: #bd4f6c;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

h1{
    color: var(--blue);
}

button{
    background-color: var(--apricot);
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    margin: 2px;
}

button:hover{
    cursor: pointer;
}



#webgazerVideoContainer{
    transform: scale(0.7);
    right: 0px !important;
    left: auto !important;
    transform-origin: top right;
}
