.content{
    margin: 15px 20px;
    background-color: white;
    height: calc(100% - 200px);
    overflow-y: scroll;
    border-radius: 15px;
    padding: 30px;
}

.arrow {
    position: fixed;
    top: -10px;
    left: -10px;
    transform: translate(50vw, 50vh);
    width: 20px;
    visibility: hidden; 
    pointer-events: none;
    z-index: 1000;
    -webkit-filter: drop-shadow(2px 4px 6px black);
    filter: drop-shadow(2px 4px 6px black);
}