.success{
    color: #fff;
    background-color: var(--green);
}

.flex-container{
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    justify-content: space-between; 
    align-items: center;
}

.active-button{
    background-color: var(--blue);
}

mat-card{
    border: 2px solid var(--blue);
    margin: 5px;
    border-radius: 15px;
    padding: 20px;
}

mat-card:hover{
    cursor: pointer;
}

mat-card-title{
    padding-bottom: 10px;
}

.clickArea.green{
    background-color: var(--green);
    opacity: 0.3;
    padding: 5px;
    text-align: center;
    width: 30%;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 12px 12px 0px;
    position: absolute;
}

.large{
    width: 760px;
    height: 110px;
}

.explanation{
    position: absolute;
    top: 100px;
    left: auto;
    padding: 15px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.ex1{ /* right */
    right: 195px;
    width: 200px;
}

.ex2{ /* left */
    right: 475px;
    width: 250px;
}

.arrow-explanation{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--apricot);
    height: 48px;
    width: 48px;
    font-size: 48px;
}

.instruction{
    width: 60%;
    padding-top: 30px;
    margin-left: 250px;
}

.success{
    font-weight: bold; 
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}
