.nextBlock{
    font-size: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 50px;
    z-index: 1000;
    position: relative;
}

.flex-container{
    display: flex; 
    flex-direction: row; /* use column for column layout */
    height: 100%; 
    justify-content: center; 
    gap: 900px; /* override this for dual screen */
    align-items: center;
    /* margin: 0px 150px; */
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

mat-card{
    background-color: var(--White);
    border: 1px solid var(--DarkGray);
    color: var(--DarkGray);
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clickArea{
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

/* width & height values are 0.5 of size large*/
/* .small{ 
    width: 250px;
    height: 90px;
    margin: 45px 125px;
} 

.large{
    width: 500px;
    height: 180px;
}*/

/*
.small{ 
    width: 50px;
    height: 50px;
} 

.large{
    width: 100px;
    height: 100px;
}
*/
.small{ 
    width: 1.43cm;
    height: 1.43cm;
} 

.large{
    width: 3.57cm;
    height: 3.57cm;
}

.pos1{
   order: 0 
}

.pos2{
    order: 1 
 }


.screen-change-area{
    border: dotted 2px darkgrey;
    pointer-events: none;
    height: 20%;


&.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
}

&.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
}