.nextBlock{
    font-size: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 50px;
}

.flex-container{
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    justify-content: space-between; 
    align-items: center;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

mat-card{
    background-color: var(--apricot);
    color: #fff;
    margin: 5px;
    border-radius: 15px;
    padding: 20px;
}

mat-card:hover{
    cursor: pointer;
}

mat-card-title{
    padding-bottom: 10px;
}

.clickArea{
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
}

/* width & height values are 0.5 of size large*/
.small{ 
    width: 250px;
    height: 90px;
    margin: 75px 100px;
}

.large{
    width: 500px;
    height: 180px;
}

/* 
legacy code: for aligning items in rows - use container instead of flex-container for this
.pos1{
    float: left;
}

.pos2{
    float: right;
} */

.pos1{
   order: 0 
}

.pos2{
    order: 1 
 }


.screen-change-area{
    border: dotted 2px darkgrey;
    pointer-events: none;
    height: 20%;


&.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
}

&.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
}