<div class="container" *ngIf="!clicked">
    <mat-card [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[0], 'clickArea']">
        <mat-card-title>Hello!</mat-card-title>
    </mat-card>
    <mat-card [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[1], 'clickArea']" id="click-task"> 
        <mat-card-title>Select me!</mat-card-title>
    </mat-card>
    <mat-card [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[2], 'clickArea']">
        <mat-card-title>I am a Headline</mat-card-title>
    </mat-card>
    <mat-card [ngClass]="[randomizationService.selectedSize, randomizationService.positionOrder[3], 'clickArea']">
        <mat-card-title>Lorem Ipsum</mat-card-title>
    </mat-card>
</div>
   
<div *ngIf="clicked">
    <div class="success" *ngIf="!error"> ✓ </div>
    <div class="success" *ngIf="error" style="color: var(--red)"> ✖ </div>
    <div style="text-align:center;">You will be redirected back to the task page in a moment...</div>
</div>

<app-popup-pointer-lock-stop *ngIf="pointerLockStopped" (addSuccess)="addSuccess(true)" (startMix2)="activateSelectedInputType()"></app-popup-pointer-lock-stop>